/* Estilo para o container da busca */
.search-container {
  display: flex;
  flex: 0 1 400px; /* Isso faz com que ela cresça, mas não passe de 400px */
  margin: 0 20px;
}

.search-input {
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #ddd;
  border-radius: 20px 0 0 20px; /* Arredonda o canto esquerdo */
  outline: none;
}

.search-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0; /* Arredonda o canto direito */
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Ajuste no .header para garantir o alinhamento */
.header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: white;
}